$text--main: #212121;
$text--gray: #bababa;
$text--white: #fafafa;

$bg--black: #212121;
$bg--white: #fafafa;

$border--black: #212121;
$border--gray: #bababa;
$border--lightgray: #dadada;

$tag--gray: #e8e8e8;
